nav.nav
    .cont.nav-cont
        .nav-left
            .nav-item.nav-left-item.nav-left-burg
            .nav-item.nav-left-item 
                a(href='#') Tour
            .nav-item.nav-left-item 
                a(href='#') Features
            .nav-item.nav-left-item 
                a(href='#') Pricing
        .nav-center
        .nav-right
            .nav-item.nav-right-item
                a(href='#') Help
            .nav-item.nav-right-item
                a(href='#') Contacts           
            .nav-item.nav-right-btn
                a(href='#') Get App
