.cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    min-width: 300px;
    padding-left: calc($distance * .625);
    padding-right: calc($distance * .625);
}
