nav.nav_drop
    .cont.nav_drop-cont
        .nav_drop-item.nav_drop-exit X
        .nav_drop-item
            a(href='#') Tour
        .nav_drop-item 
            a(href='#') Features
        .nav_drop-item 
            a(href='#') Pricing
        .nav_drop-item
            a(href='#') Help
        .nav_drop-item
            a(href='#') Contacts           
        .nav_drop-item.nav-right-btn
            a(href='#') Get App
