body{
  background: #E5E5E5;
}

.header_top{
  background: #fff;
}

.katalog{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-katalog_btn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.katalog_btn{
  width: 30vw;
  height: 7vw;
  font-size: 3.1vw;
}

.katalog_btn:nth-child(1){
  margin-right: 40px;
}

.b-main_collection-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.b-katalog{
  display: flex;
  width: 95vw;
  margin-top: 2vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colection-name{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (max-width: 500px){
  .katalog_btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
}

.katalog_btn:nth-child(1) {
    margin-right: 20px;
}

.b-katalog{
  justify-content: center;
}
}

@media screen and (min-width: 500px) and (max-width: 768px){

  .katalog_btn {
    width: 200px;
    height: 40px;
    font-size: 21px;
}
}

@media screen and (min-width: 769px){
    .katalog_btn {
      width: 200px;
      height: 35px;
      font-size: 21px;
  }


  .b-katalog {
      justify-content: flex-start;
  }
}
