/*base*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1.2; }
ol { padding-left: 0; list-style: decimal; }
ul { padding-left: 1.4em; list-style: square; }
table { border-collapse: collapse; border-spacing: 0; }
@font-face {font-family: VarelaRound_Regular;src: url(src/fonts/VarelaRound_Regular.ttf);}
@font-face {font-family: Lato_Black;src: url(src/fonts/Lato_Black.ttf);}
@font-face {font-family: Lato_Bold;src: url(src/fonts/Lato_Bold.ttf);}
@font-face {font-family: Lato_Regular;src: url(src/fonts/Lato_Regular.ttf);}
@font-face {font-family: Lato_Light;src: url(src/fonts/Lato_Light.ttf);}
html{
    font-size: 18px;
}
*{
    box-sizing: border-box;
    transition: all 0.6s cubic-bezier(0.77,0,0.175,1);
}
body{
    background: white;
    font-family: Lato_Regular;
}
input{
    border: 1px solid #dadcdf;
    border-radius: 28px;
    outline: none
}
input::-webkit-input-placeholder { color:#26272d; }
input $::-moz-placeholder {
        color: #26272d; }
h1{
    margin-top: calc(16px * 12.5875);
    margin-bottom: calc(16px * 3.4375);
    font-family: VarelaRound_Regular;
    font-size: calc(1rem * 3.4444);
    text-align: center;
    color: #26272d;
}
h2{
    font-family: VarelaRound_Regular;
    font-size: calc(1rem * 2.333333);
    color: #26272d;
}
h3{
    margin-top: calc(16px * 2.9375);
    margin-bottom: calc(16px * 3);
    font-size: calc(1rem * 1.64444);
    font-family: VarelaRound_Regular;
    color: #26272d;
}
p{
    font-family: Lato_Regular;
    font-size: calc(1rem * 1.1111);
    color: #8c8f94;
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #26272d;
}
.download_btn{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: 80%;
    max-width: 210px;
    min-width: 150px;
    height: 60px;
    margin-top: calc(16px * 1.4375);
    color: white;
    border-radius: 28px;
    background: #131315;
}
.download_btn-span{
        margin-left: calc(16px * 4.125);
        font-family: Lato_Regular
    }
.download_btn-span:nth-child(1) { font-size: calc(1rem * .66666); }
.download_btn-span:nth-child(2) { font-size: calc(1rem * 1.17777); }
.download_btn::before { content:''; position: absolute; left: 25px; top: 14px; width: 30px; height: 30px; background: url(src/img/apple2.png); background-position: center; background-size: auto; background-repeat: no-repeat; background-size: contain; }
/*helpers*/
/*layouts*/
.cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    min-width: 300px;
    padding-left: calc(16px * .625);
    padding-right: calc(16px * .625);
}
.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: url(src/img/header_bg.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-cont-p{
            width: 95%;
            max-width: 770px;
        }
.header-cont-btn{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            max-width: 208px;
            min-width: 180px;
            height: 50px;
            margin-top: calc(16px * 3.875);
            padding-left: 10px;
            border: 1px solid #dadcdf;
            border-radius: 28px;
            font-size: calc(1rem * .888888);
            color: #26272d;
            background: rgba(255, 255, 255, 0);
            cursor: pointer
        }
.header-cont-btn::before { content:''; position: absolute; left:35px; width: 11px; height: 11px; background: url(src/img/play.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.header-cont-phone{
            width: 370px;
            height: 456px;
            margin-top: calc(16px * 3.625);
            background: url(src/img/header_iphone.png);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center top;
        }
.features{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: white;
    overflow: hidden;
}
.features-cont{
    }
.interface{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: #f5f5f8;
    overflow: hidden;
}
.interface-cont{
        max-width: 100%;
        margin-top: calc(16px * 9);
        margin-bottom: calc(16px * 8);
    }
.reviews{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: white;
}
.reviews-cont{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: calc(16px * 8.3125);
        margin-bottom: calc(16px * 7.8125);
    }
.reviews-prevBtn{
        width: 32px;
        height: 45px;
        margin-top: calc(16px * 2.8125);
        background: url(src/img/prevArrow.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.reviews-nextBtn{
        width: 32px;
        height: 45px;
        margin-top: calc(16px * 2.8125);
        background: url(src/img/nextArrow.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.reviews-view{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 670px;
        min-width: 280px;
        overflow: hidden;
    }
.reviews-view-control_tabs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 540px;
            height: 133px;
        }
.reviews-view-control_tabs-item{
                width: 90px;
                height: 90px;
                background-color: white;
                filter: opacity(.2);
                border-radius: 50%
            }
.reviews-view-control_tabs-item:nth-child(1) { background: url(src/img/ico1.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.reviews-view-control_tabs-item:nth-child(2) { background: url(src/img/ico2.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.reviews-view-control_tabs-item:nth-child(3) { background: url(src/img/ico3.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.reviews-view-control_tabs-item-active {
                    width: 130px;
                    height: 130px;
                    box-shadow: 25px 25px 34px rgba(0, 0, 0, 0.2);
                    filter: opacity(1); }
.slider{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: calc(16px * 4.375);
}
.slider-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 100%;
    }
.slider-item-title{
            font-family: Lato_Light;
            font-size: calc(1rem * 1.7777);
        }
.slider-item-p{
            margin-top: calc(16px * 3.30);
        }
.slider-item-stars{
            width: 155px;
            height: 25px;
            margin-top: calc(16px * 2.125);
            background: url(src/img/stars.png);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }
.slider-item-name{
            margin-top: calc(16px * 4);
            margin-bottom: 0;
            font-size: calc(1rem * .66666);
            text-transform: uppercase;
            font-family: Lato_Bold;
        }
.price{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f5f5f8;
}
.price-cont{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: calc(16px * 9.687);
    margin-bottom: calc(16px * 11.875);
  }
.price-controls_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 390px;
    margin-top: calc(16px * 3.125);

  }
.price-controls_text-sub_title{
      font-size: calc(1rem * 0.667);
      margin-top: calc(16px * 4.25);
    }
.price-controls_text-select{
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 260px;
      height: 52px;
      border-radius: 25px;
      border: solid 1px #a4a5a8;
    }
.price-controls_text-select-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 44px;
        font-family: Lato_Regular;
        font-size: calc(1rem * 0.889);
        font-weight: 600;
        background: rgba(255, 255, 255, 0);
        border-radius: 25px;
        opacity: 0.4;
        cursor: pointer;
      }
.price-controls_text-select-item_act{
          opacity: 1;
        }
.price-controls_text-select-swiper{
        position: absolute;
        left: 3px;
        z-index: -1;
        width: 50%;
        height: 44px;
        background: #fff;
        border-radius: 25px;
        box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15);

      }
.price-controls_text-p{
      text-align: left;
      margin-top: calc(16px * 4.375);
    }
.price-controls_text-link{
        margin-left: 3px;
        font-size: calc(1rem * .777777);
        text-decoration: underline;
        color: #267df4;
        cursor: pointer;
        transition: all .2s ease-in-out
    }
.price-controls_text-link:hover { color: #24589f; }
.price-controls_text-link_p{
      display: flex;
      font-size: calc(1rem * .778);
      color: #8c8f94;
      margin-top: calc(16px * 2.8125);
    }
.price-plans_block{
    position: relative;
    display: flex;
    width: 675px;
  }
.price-plans{
    position: absolute;
    display: flex;
  }
.price-plans-start{
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 320px;
      max-width: 444px;
      box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2);
      border-radius: 10px;
      background: #fff;
    }
.price-plans-start-title{
        margin-top: calc(16px * 3.75);
        margin-bottom: 0;
        font-family: Lato_Regular;
        font-weight: 300;
        font-size: calc(1rem * 1.778);
        color: #26272d;
      }
.price-plans-start-cost{
        margin-top: calc(16px * 1.5625);
        padding: 5px 15px;
        font-family: Lato_Black;
        font-weight: 700;
        font-size: calc(1rem * .611);
        color: #26272d;
        border-radius: 14px;
        border: 1px solid rgba(39, 42, 45, 0.2);
      }
.price-plans-start-text{
        margin-top: calc(16px * 3.125);
        margin-bottom: calc(16px * .9375);
        width: 172px;
        font-family: Lato_Regular;
        font-size: calc(1rem * 1.111);
        color: #8c8f94;
      }
.price-plans-start-span{
        position: relative;
        margin-top: calc(16px * 1.5625);
        font-family: Lato_Regular;
        font-weight: 500;
        font-size: calc(1rem * .8889);
        color: #26292c
      }
.price-plans-start-span:before { content: ''; position: absolute; width: 18px; height: 14px; top: 4px; left: -20px; background: url(src/img/check.svg); background-size: contain; background-position: center; }
.price-plans-start-btn{
        margin-top: calc(16px * 5.625);
        margin-bottom: calc(16px * 4.375);
        padding: 10px 65px;
        font-family: Lato_Regular;
        font-size: calc(16px * .8889);
        font-weight: 400;
        color: #ffffff;
        border-radius: 21px;
        border: solid 1px #267df4;
        background: #267df4;
        cursor: pointer;
        transition: all .2s ease-in-out
      }
.price-plans-start-btn:hover { background: rgba(38, 125, 244, 0.8); }
.price-plans-pro{
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 320px;
      height: 490px;
      margin-top: calc(16px * 1.3125);
      border-radius: 0 10px 10px 0;
      background: #ebebed;
    }
.price-plans-pro-title{
        margin-top: calc(16px * 2.4375);
        margin-bottom: 0;
        font-family: Lato_Regular;
        font-weight: 300;
        font-size: calc(1rem * 1.778);
        color: #26272d;
      }
.price-plans-pro-btn{
        margin-top: calc(16px * 3.125);
        margin-bottom: calc(16px * 3);
        padding: 10px 65px;
        font-family: Lato_Regular;
        font-size: calc(16px * .8889);
        font-weight: 400;
        color: rgba(38, 125, 244, 1);
        border-radius: 21px;
        border: solid 1px #267df4;
        background: rgba(38, 125, 244, 0);
        cursor: pointer;
        transition: all .2s ease-in-out
      }
.price-plans-pro-btn:hover { background: rgba(38, 125, 244, 0.3); }
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer_top-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
  }
.footer_bottom-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;

  }
/*components*/
.nav{
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.nav-cont{
        flex-direction: row;
        justify-content: space-between;
    }
.nav-scroled{
         height: 100px;
         background: white;
         box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
     }
.nav-item:not(:last-child) { margin-right: calc(16px * 2.625); }
.nav-item a {
            font-size: calc(1rem * .8888888);
            color: #26272d; }
.nav-item a:hover { color:#8c8f94; }
.nav-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 285px;
    }
.nav-left-burg{
            display: none;
            width: 21px;
            height: 13px;
            background: url(src/img/burg.png);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }
.nav-center{
        width: 142px;
        height: 15px;
        background: url(src/img/logo.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.nav-right{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
.nav-right-btn{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 133px;
            height: 40px;
            padding-left: 10px;
            background: #267df4;
            border-radius: 28px;
        }
.nav-right-btn a{
                color: white;
            }
.nav-right-btn::before { content:''; position: absolute; left: 17px; width: 20px; height: 20px; background: url(src/img/apple.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.nav_drop{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 380px;
    min-width: 240px;
    height: 100vh;
    background: white;
    box-shadow: 3px 0 16px rgba(0, 0, 0, 0.2);
}
.nav_drop-active{
        left: 0;
    }
.nav_drop-cont{
        justify-content: space-around;
    }
.nav_drop-item{
        min-width: 71px;
        text-align: left;
    }
.nav_drop-exit{
        align-self: flex-end;
        min-width: 25px;
        height: 25px;
        font-size: 24px;
    }
.features_up{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: calc(16px * 7.5);
    margin-bottom: calc(16px * 8.0625);

}
.features_up-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        max-width: 490px;
        min-width: 300px;
    }
.features_up-item-ico{
            width: 47px;
            height: 52px;
            object-fit: contain;
        }
.features_up-item:not(:first-child) { margin-left: calc(16px *  6.25); }
.features_up-item-p {
            font-size: 1rem;
            text-align: left;
            font-family: Lato_Light;
            margin-top: calc(16px * 2.3125); }
.features_center{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: calc(16px * 14.0625);
    border-top: 1px solid #dadcdf;

}
.features_center-left{
        width: 100%;
        max-width: 815px;
        min-width: 300px;
        height: 774px;
        margin-left: -215px;
        margin-top: calc(16px * 7.8125);
        background: url(src/img/iPhone.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(-550px);

    }
.features_center-rigth{
        width: 100%;
        max-width: 470px;
        min-width: 300px;
        margin-top: calc(16px * 8);
        margin-left: calc(16px * 6.25);
    }
.features_center-rigth-title{
            text-align: left;
        }
.features_center-rigth-p{
            font-family: Lato_Light;
            text-align: left
        }
.features_center-rigth-p:not(:first-child) { margin-top: calc(16px * 2.5); }
.features_center-btns{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: calc(16px * 4.75);
    }
.features_center-btns-item{
            display: flex;
            justify-content: center;
            align-items: center
        }
.features_center-btns-item:first-child { width: 100%; position: relative; justify-content: flex-start; max-width: 200px; min-width: 130px; height: 40px; padding-left: calc(16px * 1.6875); border-radius: 28px; background: #267df4; }
.features_center-btns-item:first-child a {
                    font-family: Lato_Regular;
                    font-size: calc(1rem * .8888888);
                    color: white; }
.features_center-btns-item:first-child::after { content:''; position: absolute; right:20px; width: 13px; height: 13px; background: url(src/img/arrow.png); background-position: center; background-size: auto; background-repeat: no-repeat; }
.features_center-btns-item:last-child { width: 100%; max-width: 140px; min-width: 100px; height: 40px; border: 1px solid #dadcdf; background: rgba(255, 255, 255, 0); border-radius: 28px; }
.features_center-btns-item:last-child a {
                    font-family: Lato_Regular;
                    font-size: calc(1rem * .8888888);
                    color: #26272d; }
.features_bottom{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.features_bottom-left{
        width: 100%;
        max-width: 470px;
        min-width: 300px;
        margin-right: calc(16px * 6.25);
    }
.features_bottom-left-title{
            text-align: left;
        }
.features_bottom-left-p{
            font-family: Lato_Light;
            text-align: left
        }
.features_bottom-left-p:not(:first-child) { margin-top: calc(16px * 2.5); }
.features_bottom-partners{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: calc(16px * 4.3125);
    }
.features_bottom-partners-title{
            font-family: Lato_Bold;
            font-size: calc(1rem * .6666666);
            color: #26272d;
            margin-bottom: calc(16px * 1.935);
        }
.features_bottom-partners-block{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
.features_bottom-partners-img{
            width: 126px;
            height: 40px;
            object-fit: contain
        }
.features_bottom-partners-img:not(:first-child) { margin-left: calc(16px * 2.0625); }
.features_bottom-rigth{
        width: 100%;
        max-width: 1020px;
        min-width: 430px;
        height: 500px;
        margin-right: -395px;
        transform: translateX(500px);
        background: url(src/img/map.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.interface_up{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.interface_up-title{
        margin-bottom: calc(16px * 3);
    }
.interface_up-underscore{
        width: 50px;
        height: 2px;
        background: #267df4;
    }
.interface_up-sub_title{
        margin-top: calc(16px * 2.5);
        margin-bottom: 0;
        font-family: Lato_Bold;
        font-size: calc(1rem * .6666666);
        letter-spacing: 2px;
        color: #8c8f94;
    }
.interface_up-screens{
        width: 100%;
        height: 773px;
        margin-top: calc(16px * 2.9375);
        background: url(src/img/screens.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.interface_bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: calc(16px * 11.25);
}
.interface_bottom-logo{
        width: 120px;
        height: 15px;
        background: url(src/img/logo_2.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
.interface_bottom-title{
        margin-top: calc(16px * 2.45);
        text-align: center;
    }
.interface_bottom-other{
        margin-top: calc(16px * 4.0625);
        font-size: calc(1rem * .666666);
        color: #8c8f94;
    }
.interface_bottom-d_btn{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        width: 80%;
        max-width: 210px;
        min-width: 150px;
        height: 60px;
        margin-top: calc(16px * 1.4375);
        color: white;
        border-radius: 28px;
        background: #131315;
    }
.interface_bottom-d_btn-span{
            margin-left: calc(16px * 4.125);
            font-family: Lato_Regular
        }
.interface_bottom-d_btn-span:nth-child(1) { font-size: calc(1rem * .66666); }
.interface_bottom-d_btn-span:nth-child(2) { font-size: calc(1rem * 1.17777); }
.interface_bottom-d_btn::before { content:''; position: absolute; left: 25px; top: 14px; width: 30px; height: 30px; background: url(src/img/apple2.png); background-position: center; background-size: auto; background-repeat: no-repeat; background-size: contain; }
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    min-width: 250px;
    height: 50px;
    margin-top: calc(16px * 2.5);
    padding: calc(16px * .2125);
    border: 1px solid #dadcdf;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0);
}
.form-input{
        width: 100%;
        max-width: 290px;
        min-width: 200px;
        height: 23px;
        margin-left: 16px;
        padding: 5px;
        font-size: calc(1rem * .888888);
        color: #26272d;
        border: none;
        background: rgba(187, 254, 52, 0);
    }
.form-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 160px;
        min-width: 100px;
        height: 100%;
        font-size: calc(1rem * .888888);
        border-radius: 28px;
        color: white;
        background: #6fc754;
    }
.footer_top-title{
    margin-top: calc(16px * 5.3125);
  }
.footer_top-form{
    margin-top: calc(16px * 3.125);
  }
.footer_top-span{
    margin-top: calc(16px * 1.875);
    margin-bottom: calc(16px * 5.3125);
    font-family: Lato_Regular;
    font-size: calc(1rem * 0.778);
    font-weight: 400;
    color: #8c8f94;
  }
.footer_bottom-cont{
    justify-content: space-between;
    align-items: flex-start;
    padding-top: calc(16px * 5.3125);
    border-top: solid 1px rgba(39, 42, 45, 0.1);
  }
.footer_bottom-contact{
    display: flex;
    flex-direction: column;
    width: 245px;
  }
.footer_bottom-logo{
    width: 142px;
    height: 15px;
    background: url(src/img/logo.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
.footer_bottom-p{
    margin-top: calc(16px * 1.5625);
    text-align: left;
  }
.footer_bottom-soc_network{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: calc(16px * 2.5);
  }
.footer_bottom-twitter{
      width: 19px;
      height: 16px;
      background: url(src/img/twitter.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-fb{
      width: 13px;
      height: 20px;
      background: url(src/img/fb.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-google{
      width: 27px;
      height: 17px;
      background: url(src/img/google.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-tumbler{
      width: 13px;
      height: 20px;
      background: url(src/img/tumbler.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-pinterest{
      width: 18px;
      height: 21px;
      background: url(src/img/pinterest.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-linkedin{
      width: 19px;
      height: 18px;
      background: url(src/img/linkedin.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-d_btn{
      width: 140px;
      height: 42px;
      margin-top: calc(16px * 1.875);
      background: url(src/img/d_btn.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
.footer_bottom-block{
      display: flex;
      justify-content: center;
      align-items: center;
    }
.footer_bottom-col{
      width: 210px;
    }
.footer_bottom-col-title{
        margin-bottom: 2px;
        font-family: Lato_Black;
        font-size: calc(1rem * .8);
        font-weight: 700;
        text-transform: uppercase;
        color: #26272d;
      }
.footer_bottom-col-item{
        margin-top: 16px;
        color: #8c8f94;
        font-family: Lato_Regular;
        font-size: calc(1rem * .889);
        font-weight: 400;
      }
.footer_copyright-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(16px * 8.125);
    padding-top: calc(16px * 1.875);
    padding-bottom: calc(16px * 2.1875);
    border-top: solid 1px rgba(39, 42, 45, 0.1);
  }
.footer_copyright-span{
    font-family: Lato_Regular;
    font-size: calc(16px * .778);
    font-weight: 400;
    color: rgb(140, 143, 148);
  }
.footer_copyright-span-link{
      margin-left: 5px;
      text-decoration: underline;
      color: rgb(59, 85, 230);
      cursor: pointer;
      transition: all .1s ease-in-out
    }
.footer_copyright-span-link:hover { color:rgba(45, 58, 135, 1); }
.footer_copyright-author{
    display: flex;
    align-items: center;
  }
.footer_copyright-author-span{
      font-family: Lato_Black;
      font-size: calc(16px * .5);
      font-weight: 700;
      text-transform: uppercase;
      color: #26272d;
    }
.footer_copyright-author-logo{
      width: 112px;
      height: 39px;
      margin-left: 10px;
      background: url(src/img/logo_author.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
