@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&subset=cyrillic');

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

*{
  box-sizing: border-box;
}


.h1{
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  line-height: 6vw;
  font-size: 6vw;

  color: #FFFFFF;
}

.item{
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #14152D;
}

.header{
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  min-width: 320px;
  background: url('img/h_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.header_top{
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 45px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.logo{
  width: 61px;
  height: 23px;
  background: url('img/logo.svg');
  background-size: 61px 23px;
  background-position: center;
  background-repeat: no-repeat;
}



.nav{
  display: flex;
  justify-content: space-between;
}

.header_nav-item{
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 13px 0 13px;

  cursor: pointer;
}

.header_nav-item::before{
  content: ' ';
  position: absolute;
  left: -14px;
  width: 1px;
  height: 35px;
  background: #FF0000;
}

.basket{
  width: 25px;
  height: 22px;
  background: url('img/basket.svg');
  background-size: 16px 22px;
  background-position: 75% 40%;
  background-repeat: no-repeat;
  margin-right: 0;
}

.header_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: calc(100% - 45px);
}

.header_main_h1{
  margin-bottom: 20px;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}

.h2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 4vw;
  text-align: right;
  color: #000000;
}

.main_h2{
  display: block;
  margin-bottom: 7vh;
  text-align: right;
  width: 30vw;
  color: #E03114;
}

.b-main_h2{
  margin-left: 6.5vw;
  margin-top: 6.5vw;
}

.hamb{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 22px;
}

.hamb_icon{
  width: 100%;
  height: 4px;
  background: #14152D;
  border-radius: 2px;
}

.hamb-drop{
  display:  flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: calc(100vh - 45px);
  width: 90%;
  right: -90%;
  top: 45px;
  background: #e03114;
  transition: all 0.4s linear;
}

.hamb-drop-act{
  right: 0;
}

.hamb-item{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.b-main_collection{
  display: flex;
}

.main_collection{
  position: relative;
  width: 26.5vw;
  height: 23vw;
  background: #C4C4C4;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10vh;
  overflow: hidden;
}

.main_collection-double{
  width: 57vw;
}

.p{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 2.7vh;
  color: #000000;
}

.main_p{
  width: 30vw;
  text-align: right;
}

bold{
  font-weight: 700;
}

.main_collection-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: -14vw;
  width: 14vw;
  height: 23vw;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.3vw .8vw 1vw .8vw;
  transition: all 0.3s cubic-bezier(0.77,0,0.175,1);
}

.main_collection:hover .main_collection-info{
  right: 0;
}

.b-collection-info{
  display: flex;
  flex-direction: column;
}

.h3{
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.3vw;
  color: #000000;
}

.main_collection_h3{
  margin-bottom: 4vw;
}

.span{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 2vw;
  font-size: 1vw;
  color: #000000;
}

b-btn{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.4vw;
  height: 2vw;
  background: #E03114;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.1vw;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0.3vw;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover{
  background: #EE6A54;
}



@media screen and (max-width: 500px) {

  .header_nav{
    display: none;
  }

  .hamb{
    display: flex;
  }
}
