@font-face {font-family: VarelaRound_Regular;src: url('../fonts/VarelaRound_Regular.ttf');}
@font-face {font-family: Lato_Black;src: url('../fonts/Lato_Black.ttf');}
@font-face {font-family: Lato_Bold;src: url('../fonts/Lato_Bold.ttf');}
@font-face {font-family: Lato_Regular;src: url('../fonts/Lato_Regular.ttf');}
@font-face {font-family: Lato_Light;src: url('../fonts/Lato_Light.ttf');}
