.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    min-width: 250px;
    height: 50px;
    margin-top: calc($distance * 2.5);
    padding: calc($distance * .2125);
    border: $btn_border;
    border-radius: $btn_rad;
    background: $btn_tr;
    &-input{
        width: 100%;
        max-width: 290px;
        min-width: 200px;
        height: 23px;
        margin-left: $distance;
        padding: 5px;
        font-size: calc($font_size * .888888);
        color: $text_black;
        border: none;
        background: rgba(187, 254, 52, 0);
    }
    &-btn{
        @mixin center;
        width: 100%;
        max-width: 160px;
        min-width: 100px;
        height: 100%;
        font-size: calc($font_size * .888888);
        border-radius: $btn_rad;
        color: white;
        background: $btn_green;
    }
}
