header.header
    .cont.header-cont
        include nav.pug
        include nav_drop.pug
        h1.header-cont-title What happens tomorrow?
        p.header-cont-p The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
        .header-cont-btn 
            a(href='#') Watch Video
        .header-cont-phone 
