.price
    .cont.price-cont
        .price-controls_text
            h2.price-controls_text-title Choose your perfect plan
            h3.price-controls_text-sub_title YOU ARE
            .price-controls_text-select
                .price-controls_text-select-item.price-controls_text-select-item_act Individual
                .price-controls_text-select-item Company
                .price-controls_text-select-swiper
            p.price-controls_text-p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .price-controls_text-link_p Have a biger time?
                a.price-controls_text-link(href="#") lets talk
        .price-plans_block        
          .price-plans.plans-indiv.plans-act
              .price-plans-start
                h3.price-plans-start-title Starter
                span.price-plans-start-cost Free
                p.price-plans-start-text Build your schedule every day
                span.price-plans-start-span Unlimeted events
                span.price-plans-start-span Connect Dropbox &amp; Evernote
                .price-plans-start-btn Get started
              .price-plans-pro
                h3.price-plans-pro-title Pro
                span.price-plans-start-cost $4.99
                p.price-plans-start-text  Make your life better
                span.price-plans-start-span Unlimeted events
                span.price-plans-start-span Connect Dropbox &amp; Evernote
                span.price-plans-start-span Personal Assistant
                .price-plans-pro-btn Get started
          .price-plans.plans-company
              .price-plans-start
                h3.price-plans-start-title Starter COMPANY
                span.price-plans-start-cost Free
                p.price-plans-start-text Build your schedule every day
                span.price-plans-start-span Unlimeted events
                span.price-plans-start-span Connect Dropbox &amp; Evernote
                .price-plans-start-btn Get started
              .price-plans-pro
                h3.price-plans-pro-title Pro COMPANY
                span.price-plans-start-cost $4.99
                p.price-plans-start-text  Make your life better
                span.price-plans-start-span Unlimeted events
                span.price-plans-start-span Connect Dropbox &amp; Evernote
                span.price-plans-start-span Personal Assistant
                .price-plans-pro-btn Get started
