.price
    .cont.price-cont
        .price-controls_text
            h2.price-controls_text-title Choose your perfect plan
            h3.price-controls_text-sub_title YOU ARE
            .price-controls_text-select
                .price-controls_text-select-item Individual
                .price-controls_text-select-item Company
                .price-controls_text-select-swiper
            p.price-controls_text-p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .price-controls_text-link_p Have a biger time?
                .link lets talk
        .price-plans.plans-indiv
            .price-plans-start
            .price-plans-pro
        .price-plans.plans-indiv
            .price-plans-start
            .price-plans-pro
