@define-mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@define-mixin center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@define-mixin bg_img $path{
    background: url('../img/$(path).png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
@define-mixin bg_jpg $path{
    background: url('../img/$(path).jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
