.features_bottom{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    &-left{
        width: 100%;
        max-width: 470px;
        min-width: 300px;
        margin-right: calc($distance * 6.25);
        &-title{
            text-align: left;
        }
        &-p{
            font-family: $font_lato_lig;
            text-align: left;
            &:not(:first-child){
                margin-top: calc($distance * 2.5);
            }
        }
    }
    &-partners{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: calc($distance * 4.3125);
        &-title{
            font-family: $font_lato_bold;
            font-size: calc($font_size * .6666666);
            color: $text_black;
            margin-bottom: calc($distance * 1.935);
        }
        &-block{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        &-img{
            width: 126px;
            height: 40px;
            object-fit: contain;
            &:not(:first-child){
                margin-left: calc($distance * 2.0625);
            }
        }
    }
    &-rigth{
        width: 100%;
        max-width: 1020px;
        min-width: 430px;
        height: 500px;
        margin-right: -395px;
        transform: translateX(500px);
        @mixin bg_img map;
    }
}
