.footer_top{
  &-title{
    margin-top: calc($distance * 5.3125);
  }
  &-form{
    margin-top: calc($distance * 3.125);
  }
  &-span{
    margin-top: calc($distance * 1.875);
    margin-bottom: calc($distance * 5.3125);
    font-family: $font_lato_reg;
    font-size: calc($font_size * 0.778);
    font-weight: 400;
    color: #8c8f94;
  }
}
