doctype html
html(lang="en")
  head
    include pug/metategs.pug
    title Fresh Desing
  body
    include pug/templates/header/header.pug
    include pug/templates/features/features.pug
    include pug/templates/interface/interface.pug
    include pug/templates/reviews/reviews.pug
    include pug/templates/price/price.pug
    
    
    
    
