.interface_bottom
    .interface_bottom-logo
    h2.interface_bottom-title Get it to your smartphone
    .form.interface_bottom-form
        input.form-input(placeholder = 'Your email')
        .form-btn Send Invite
    h3.interface_bottom-other OR DOWNLOAD FROM
    a.interface_bottom-d_btn(href='#')
        - let arr = ['Download on the','App Store']
        each item in arr 
            span.interface_bottom-d_btn-span=item
    
