.footer_bottom-contact
  .footer_bottom-logo 
  p.footer_bottom-p It was some time before he obtained any answer, and the reply, when made, was unpropitious.
  a.footer_bottom-d_btn(href="#")
  .footer_bottom-soc_network
    .footer_bottom-twitter
    .footer_bottom-fb
    .footer_bottom-google
    .footer_bottom-tumbler
    .footer_bottom-pinterest
    .footer_bottom-linkedin
.footer_bottom-block
  .footer_bottom-col
    .footer_bottom-col-title Learn more
    .footer_bottom-col-item Meeting tools
    .footer_bottom-col-item Live striming
    .footer_bottom-col-item How it works?
    .footer_bottom-col-item Contat method
  .footer_bottom-col
    .footer_bottom-col-title About us
    .footer_bottom-col-item About us
    .footer_bottom-col-item Feature
    .footer_bottom-col-item Karma police
    .footer_bottom-col-item Terms &amp; conditions
  .footer_bottom-col
    .footer_bottom-col-title support
    .footer_bottom-col-item F.A.Q
    .footer_bottom-col-item Contact us
    .footer_bottom-col-item Live chat
    .footer_bottom-col-item Phone call

  
  
  
