h2.footer_top-title Subscribe our newsletters
.form.footer_top-form
  input.form-input.footer_top-form-input(placeholder = 'Your email')
  .form-btn Subscribe
span.footer_top-span We promise to never spam you.
