.footer_copyright
  .footer_copyright-span For more freebies visit:
    a.footer_copyright-span-link(href="#") http://getcraftwork.com 
.footer_copyright-author
    .footer_copyright-author-span Made with Love by
    .footer_copyright-author-logo
