.features_center
    .features_center-left
    .features_center-rigth
        h3.features_center-rigth-title Your day is protected
        p.features_center-rigth-p There have not been any since we have lived here, said my mother. 
        p.features_center-rigth-p We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
        .features_center-btns
            .features_center-btns-item 
                a Try to hack us
            .features_center-btns-item 
                a Learn more           
