.features_bottom
    .features_bottom-left
        h3.features_bottom-left-title We are almost everywhere
        p.features_bottom-left-p Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
        p.features_bottom-left-p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
        .features_bottom-partners
            .features_bottom-partners-title PARTNERS
            .features_bottom-partners-block
                img.features_bottom-partners-img(src='./img/dropbox.png') 
                img.features_bottom-partners-img(src='./img/evernote.png') 
    .features_bottom-rigth
