section.reviews
    .cont.reviews-cont
        .reviews-prevBtn
        .reviews-view
            .reviews-view-control_tabs
                .reviews-view-control_tabs-item.reviews-view-control_tabs-item-active(data-slider-id='1')
                .reviews-view-control_tabs-item(data-slider-id='2')  
                .reviews-view-control_tabs-item(data-slider-id='3')
            .slider.reviews-view-slider
                .slider-item(data-slider-id='1')
                    h2.slider-item-title New Providence is the great UI kit 
                    p.slider-item-p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .slider-item-stars
                    h3.slider-item-name Cameron Dowman
                .slider-item(data-slider-id='2')
                    h2.slider-item-title New Providence is the great UI kit 
                    p.slider-item-p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .slider-item-stars
                    h3.slider-item-name Cameron Dowman
                .slider-item(data-slider-id='3')
                    h2.slider-item-title New Providence is the great UI kit 
                    p.slider-item-p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .slider-item-stars
                    h3.slider-item-name Cameron Dowman
        .reviews-nextBtn    
                
                
