html{
    font-size: 18px;
}
$font_size:1rem;
$font_varela_reg:VarelaRound_Regular;
$font_lato_black:Lato_Black;
$font_lato_bold:Lato_Bold;
$font_lato_reg:Lato_Regular;
$font_lato_lig:Lato_Light;
$text_black:#26272d;
$text_lig:#8c8f94;
$btn_rad:28px;
$btn_border: 1px solid #dadcdf;
$btn_blue:#267df4;
$btn_tr:rgba(255, 255, 255, 0);
$btn_green:#6fc754;
$white_bg:white;
$grey_bg: #f5f5f8;
$distance:16px;
