.nav_drop{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 380px;
    min-width: 240px;
    height: 100vh;
    background: white;
    box-shadow: 3px 0 16px rgba(0, 0, 0, 0.2);
    &-active{
        left: 0;
    }
    &-cont{
        justify-content: space-around;
    }
    &-item{
        min-width: 71px;
        text-align: left;
    }
    &-exit{
        align-self: flex-end;
        min-width: 25px;
        height: 25px;
        font-size: 24px;
    }
}
